.body{
    font-family: LibreBaskerville;
}
.mdl-layout__header{
    background-color: transparent;
    box-shadow: none;
    padding: 0 163px;
}
.mdl-layout__header-row {
    justify-content: flex-end;
    height: 110px;
    padding: 0 20px;
}
.mdl-layout__header-row .mdl-navigation__link {

  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #374b5c;
}
  
.mdl-layout__inner-container{
    background-image: linear-gradient(to bottom,#f1fefe, rgba(241, 254, 254, 0));
}

.mdl-navigation :nth-child(n){
   
    height: 40px;
    width: 70px;
    text-align: center;
    line-height: 2.5;
    margin: 0 5px;

    
}

.mdl-navigation :nth-child(n):hover{
   
 
    border: solid 3px #00dbd0;
    border-radius: 10px ;
    text-align: center;
    line-height: 2.5;
    margin: 0 2px;
}

.main-header{
 position: absolute;
 width: 200px;  
 display: flex;
 align-items: center;
 top:10px;
 left: 13%;
}

.main-header > h3{
 font-weight: 700;
 color: #374b5c;
}

@media screen and (max-width: 1280px) {
    .main-header{
        display: none;
    }

  }

.div-all{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.div-1{
 
  height: 500px;
  margin: 150px 200px;
 
}

.div-1 > div {
 width: 600px;
}
.div-1 :first-child h1{
    margin: 0 0 40px;
    font-weight: 800;
    font-size: 50px;
    color: #374b5c;


}
.div-1 :first-child h3{
    margin: 108px 0 0px;
    font-weight: 200;
    color: #374b5c;

}
.div-1 :first-child p{
    color: #374b5c;
    font-size: 20px;
}
.div-1 :first-child button{
  width: 220px;
  height: 54px;
  margin: 35px 0;
  padding: 14px 64px 16px 48px;
  border-radius: 13px;
  background-color: #00dbd0;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;

}
.div-1-2{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: flex-end;
    position: relative;

}
.div-1-2 > div{
    width: 200px;
    height: 200px;
    padding: 64.5px 65.3px 65px 66px;
    border: solid 3px #00dbd0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.div-1-2 > img{
    position: absolute;
    left: -125px;
    top: 88px;
}



.div-2{
    height: 600px;
    margin: 150px 0 99.4px;
    flex-direction: column;
    align-items: center;
  
  }
.div-2-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px 0 70px
}

.div-2-2{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 0 20px ;
}

.div-2-2  div{

  width: 240.7px;
  height: 279.9px;
  border: 1px #374b5c dotted;
  border-radius: 20px;
  margin: 0 17.5px ;
  text-align: center;
  padding: 20px 0 0px;
  cursor: pointer;
}
.div-2-2  div img{

    
    border-radius: 20px;
   
  }
.div-2-2  div:hover{
    border: 1px solid white;
    border-radius: 20px;
    background-color: #00dbd0;
    color: white;
    box-shadow:  10px 10px 10px rgb(224, 252, 248);

  }
  
.div-3{
   
    height: 450px;
    margin: 150px 0 0;
    flex-direction: column;
    align-items: center;
  }

.div-3 p{
    text-align: center;
}

  .div-3-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
.div-3-1 div{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 150px;
    height: 200px;
    margin: 20px 50px;   
}

.div-4{
  
    height: 500px;
    margin: 50px 0 ;
    flex-direction:column ;
    align-items: center;

}
.div-4 > div{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-image: url("./utils/Group90.jpg");
    background-size: cover;
    margin: 20px 0 10px;
}
.div-4 > p{
    text-align: center;
    
}

.div-4 span img{
 
 margin: 0 2px 15px;
}


.div-5{
    
    height: 400px;
    margin: 150px 0 0px;
    flex-direction:column ;
    align-items: center;
    position: relative;
}
.div-5 >div{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.div-5 > p{
    text-align: center;
    margin: 30px 0;
}
.div-5 input{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #374b5c;
}
.div-5 button{
    width: 160px;
    height: 60px;
    margin: 35px 0;
    padding: 14px 64px 16px 48px;
    border-radius: 25px;
    background-color: #00dbd0;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
}
.div-5 img{
    position: absolute;
    left:-400px;
    top: -500px;
    transform: rotate(40deg);
}

.div-5 img:nth-of-type(2){
    position: absolute;
    left:70%;
    right:0px;
    top: -500px;
    transform: rotate(40deg);
}

.div-6{
 
    height: 650px;
    margin: 120px 0 0px;
    flex-direction:column ;
    align-items: center;

}

.div-6 >div{
     display: flex;
     justify-content: center;
}
.div-6 > p{
    text-align: center;
    margin: 0px 0 40px;
}

.mdl-card{
    width: 242px;
    margin: 0 30px;
    align-items: center;
}

.mdl-card__title{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0px;
    background-size: cover;
}

.mdl-card  h5{
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #00dbd0;
}

.mdl-card__supporting-text{
    text-align: center;
}

.mdl-card__supporting-text button{
    position: relative;
    background-color: transparent;
    height: 30px;
    border: none;
   
}

.mdl-card__supporting-text button div{
  
    position: absolute;
    border-bottom: solid 3px #00dbd0;
    bottom: 0;
    left:25%;
    width: 50%;

}


.div-7{
  
    height: 400px;
    flex-direction:row ;
    justify-content: space-around;
    background-size: cover;
    background-image: url('./utils/Group229.png');
    color: white;

}

.div-7-1{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 120px 0px 0 100px;
}

.div-7-1 span{
    font-weight: 800;
    margin-top: -45px;

}

.div-7-1 p{
    position: relative;
    height: 100px;
    
}

.div-7-1 p div{
    position: absolute;
    border-bottom: 3px solid #00dbd0;
    bottom: 0;
    width: 30%;
}



.div-7-2{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 120px 0px 0 100px;

}
.div-7-2-1 {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   margin: 15px 0;
}

.div-7-2 h5 {
    position: relative;
    height: 40px;
 }

 .div-7-2 h5 div {
    position: absolute;
    border-bottom:3px solid #00dbd0;
    bottom:0;
    width: 50%;
 }

.div-7-2-1 div{
    width: 50%;
    height: 35px;
}

.div-7-2-1 :nth-child(5){
    width: 100%;
}
.div-7-3{
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 120px 20px 0 20px;
}

.div-7-3 div{
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.div-7-3 h5 {
    position: relative;
    height: 40px;
 }

 .div-7-3 h5 div {
    position: absolute;
    border-bottom:3px solid #00dbd0;
    bottom:0;
    width: 70%;
 }

